# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
venv/
.env
*.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node / Next.js
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# DuckDB
# *.duckdb # We WANT to commit cristat.duckdb for now
# *.wal # DuckDB write-ahead log, should usually be ignored if not part of a consistent snapshot

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace 